.idea
__pycache__
venv
config.yaml
docker-compose.yml

config/config-prod-tesla.yaml

trol.egg-info/

trol/filemover/docker-compose.yml
trol/microformat/docker-cronjob.sh

docker/create.sh
docker/jsclient
docker-compose.yaml

jsclient/mqtt-auth.js

obs/scroll/mqtt-auth.js

android/app-release-signed.apk
android/app-release-aligned.apk
android/*.iml
android/.gradle
android/local.properties
android/.idea
android/.DS_Store
android/build
android/captures
android/.externalNativeBuild
android/.cxx
android/local.properties
android/app/build
android/app/.gitignore
android/app/build.gradle.kts.old
android/app/proguard-rules.pro
android/app/src/androidTest/
android/app/src/main/res/mipmap-hdpi/
android/app/src/main/res/mipmap-mdpi/
android/app/src/main/res/mipmap-xhdpi/
android/app/src/main/res/mipmap-xxhdpi/
android/app/src/main/res/mipmap-xxxhdpi/
android/app/src/test/
